* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.container {
  width: 1407px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  padding: 30px 0;
}

.menu__list {
  display: flex;
}

.menu__list_link {
  background: #FF8CA7;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  transition: 0.3s;
}

.menu__list_link:hover {
  background: #9969D4;
  transition: 0.3s;
}




@media screen and (max-width: 1696px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1536px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1408px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 960px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 460px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 370px;
  }
}