.manager {
  width: 1917px;
  background: #ECF3FF;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.manager__photo {
  z-index: 2;
  margin-left: 20%;
  margin-right: 190px;
  margin-top: 140px;
  margin-bottom: 145px;
}

.manager__photo img {
  border-radius: 50%;
  border: 3px solid #589BFF;
}

.manager__photo h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 116.7%;
  color: #261F26;
}

.background__img img:nth-child(1) {
  position: absolute;
  top: 0%;
  left: 0%;
}

.background__img img:nth-child(2) {
  position: absolute;
  top: 0%;
  left: 0%;
}

.background__img img:nth-child(3) {
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 15%;
}

.title h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  text-transform: uppercase;
  color: #261F26;
}

.quote img {
  z-index: 3;
  position: absolute;
  top: 60%;
  left: 40%;
}

.quote p {
  z-index: 4;
  max-width: 470px;
  position: absolute;
  top: 66%;
  left: 44%;
}

.quote {
  max-width: 470px;
}

.title h2 {
  margin-top: 80px;
}

@media screen and (max-width: 1696px) {
  .manager {
    max-width: 1696px;
  }

  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1536px) {
  .manager {
    max-width: 1536px;
  }

  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1408px) {
  .manager {
    max-width: 1408px;
  }

  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .manager {
    max-width: 1280px;
  }

  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .manager {
    max-width: 1024px;
  }

  .container {
    width: 960px;
  }
}