.manager {
  width: 100%;
  background: #ECF3FF;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.manager__photo {
  z-index: 2;
  margin-left: 20%;
  margin-right: 190px;
  margin-top: 140px;
  margin-bottom: 145px;
}

.manager__photo img {
  border-radius: 50%;
  border: 3px solid #589BFF;
}

.manager__photo h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 116.7%;
  color: #261F26;
}

.background__img img:nth-child(1) {
  position: absolute;
  top: 0%;
  left: 0%;
}

.background__img img:nth-child(2) {
  position: absolute;
  top: 0%;
  left: 0%;
}

.background__img img:nth-child(3) {
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 15%;
}

.title h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  text-transform: uppercase;
  color: #261F26;
}

.quote img {
  z-index: 3;
  position: absolute;
  top: 60%;
  left: 40%;
}

.quote p {
  z-index: 4;
  max-width: 470px;
  position: absolute;
  top: 66%;
  left: 44%;
}

.quote {
  max-width: 470px;
}

.title h2 {
  margin-top: 80px;
}

@media screen and (max-width: 1696px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1536px) {
  .container {
    width: 1200px;
  }

  .manager__photo {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1408px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 960px;
    padding: 0 10px;
  }

  .manager__photo {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .manager__photo img {
    width: 300px;
  }

  .title h2 {
    margin-top: 0px;
  }

  .quote img {
    width: 450px;
    top: 55%;
    left: 43%;
  }

  .quote p {
    width: 350px;
    top: 58%;
    left: 50%;
  }

  .background__img img:nth-child(1) {
    width: 1265px;
  }

  .background__img img:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 640px;
    padding: 0 10px;
  }

  .manager__photo img {
    width: 200px;
  }

  .title h2 {
    margin-bottom: 30px;
  }

  .quote img {
    width: 450px;
    top: 52%;
    left: 29%;
  }

  .quote p {
    width: 350px;
    top: 56%;
    left: 39%;
  }

  .manager__photo {
    margin-left: 10%;
    margin-right: 120px;

  }

  .background__img img:nth-child(1) {
    width: 1015px;
  }

  .background__img img:nth-child(3) {
    display: none;
  }

  .manager__photo h2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 460px) {
  .container {
    width: 375px;
    padding: 0 10px;
  }

  .manager {
    height: 500px;
    flex-direction: column;

  }

  .background__img img:nth-child(1) {
    display: none;
  }

  .background__img img:nth-child(2) {
    display: none;
  }

  .manager__photo {
    margin: 50px 0 30px 0;
  }

  .quote img {
    width: 300px;
    top: 72%;
    left: 6%;
  }

  .quote p {
    width: 260px;
    top: 74%;
    left: 15%;
    font-size: 9px;
  }

  .title h2 {
    margin: 0;
  }
}