.capabilities {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(180deg, #FFF6EC 0%, #FFE6F2 100%); */
  background: linear-gradient(180deg, #FFF6EC 0%, #E6FFFC 100%);
  overflow: hidden;
}

.container {
  width: 1407px;
  position: relative;
}

.background__img img:nth-child(1) {
  position: absolute;
  top: 31%;
  left: 2%;
}

.background__img img:nth-child(2) {
  position: absolute;
  top: 29%;
  left: 50%;
}

.background__img img:nth-child(3) {
  position: absolute;
  top: 26%;
  left: 24%;
}

.background__img img:nth-child(4) {
  position: absolute;
  top: 33%;
  left: 62%;
}

.title {
  margin-top: 157px;
  margin-bottom: 37.5px;
}

.title h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 71px;
  text-transform: uppercase;
  color: #261F26;
}

.list {
  display: flex;
  gap: 70px;

}

.items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}


.item {
  display: flex;
  align-items: baseline
}

.list__block_one {
  max-width: 375px;
}

.list__block_two {
  max-width: 375px;
}

.list img {
  margin-right: 12px;
}

.list h3 {
  display: flex;
  align-items: center;
  list-style: inside;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.86%;
  text-transform: uppercase;
  color: #261F26;
  margin-bottom: 20px;
}

.description {
  width: 440px;
  display: flex;
}

.description hr {
  background: #7C6774;
  width: 1px;
  height: 135px;
  margin-right: 12px;
}


.description p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 142.86%;
  color: #7C6774;
}

.button__block {
  margin-left: 160px;
  margin-bottom: 139px;
}

.button__block a button {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 116.7%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #FF8CA7;
  border-radius: 25px;
  padding: 10px 25px;
}

.button__block a button:hover {
  background: #9969D4;
  transition: 0.3s;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 170px;
  overflow: hidden;
}

.video img {
  width: 100%;
}

@media screen and (max-width: 1696px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1536px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1408px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 960px;
    padding: 0 10px;
  }

  .title {
    margin-top: 100px;
  }

  .list {
    gap: 20px;
  }

  .background__img img:nth-child(1) {
    top: 39%;
    left: 7%;
  }

  .background__img img:nth-child(2) {
    top: 33%;
    left: 50%;
  }

  .background__img img:nth-child(3) {
    top: 28%;
    left: 20%;
  }

  .background__img img:nth-child(4) {
    top: 39%;
    left: 53%;
  }

  .video {
    margin-bottom: 100px;
  }

  .video img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 640px;
    padding: 0 10px;
  }

  .items {
    flex-wrap: wrap;
    gap: 200px;
    margin-bottom: 50px;
  }

  .list__block_one {
    width: 45%;
  }

  .list {
    gap: 50px;
  }

  .background__img img:nth-child(1) {
    display: none;
  }

  .background__img img:nth-child(2) {
    top: 31%;
    left: 38%;
  }

  .background__img img:nth-child(3) {
    top: 27%;
    left: 30%;
  }

  .background__img img:nth-child(4) {
    top: 37%;
    left: 40%;
  }

  .button__block {
    margin-bottom: 60px;
  }

  .button__block {
    margin-left: 120px;
  }

  .button__block a button {
    font-size: 30px;
    padding: 15px 35px;
  }
}

@media screen and (max-width: 460px) {
  .container {
    width: 375px;
    padding: 0 10px;
  }

  .title {
    margin-top: 50px;
  }

  .title h2 {
    font-size: 38px;
  }

  .background__img img:nth-child(2) {
    top: 38%;
    left: 38%;
    transform: scaleX(-1);

  }

  .background__img img:nth-child(3) {
    top: 32.5%;
    left: 30%;
  }

  .background__img img:nth-child(4) {
    width: 330px;
    top: 45%;
    left: 5%;
  }

  .button__block {
    margin-left: 0px;
  }

  .button__block a button {
    font-size: 30px;
    padding: 15px 35px;
  }


  .video {
    margin-bottom: 50px;
  }
}