.work_description {
  width: 100%;
  background: #fff;
  padding-bottom: 150px;
  overflow: hidden;

}

.container {
  max-width: 1407px;
  margin: 0 auto;
}

.information {
  display: flex;
  padding-top: 91px;
  gap: 140px;
  margin-bottom: 161px;
}

.item__block {}

.item_block p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #261F26;
}

.item_block h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 59px;
  text-align: center;
  color: #FF8CA7;
}

.title {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 71px;
}

.title h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 71px;
  text-transform: uppercase;
  color: #261F26;
  margin-right: 360px;
}

.title p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #261F26;
}

.title span {
  color: #FF8CA7;
  font-weight: 700;
}

.background__img img {
  position: absolute;
  top: 30%;
  left: 50%;
}

.block_information {
  display: flex;
  justify-content: space-between;
}


.left_block img {
  padding: 15px 30px;
  background: #ECF3FF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-bottom: 32px;
}

.left_block p {
  padding-left: 32px;
  width: 454px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 116.7%;
  color: #261F26;
}

.right_block {}

.right_block img {}

@media screen and (max-width: 1696px) {
  .container {
    width: 1200px;
  }

  .title h2 {
    margin-right: 205px;
  }

  .right_block {
    margin-left: 50px;
  }

  .right_block img {
    max-width: 90%;
  }
}

@media screen and (max-width: 1536px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1408px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 960px;
    padding: 0 10px;
  }

  .title h2 {
    margin-right: 105px;
    font-size: 28px;
  }

  .title {
    margin-bottom: 45px;
  }

  .left_block img {
    padding: 10px 8px;
  }

  .right_block {
    margin-left: 20px;
  }

  .background__img img {
    top: 30%;
    left: 30%;
  }

  .work_description {
    padding-bottom: 100px;

  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 640px;
    padding: 0 10px;
  }

  .information {
    gap: 50px;
    margin-bottom: 50px;
  }

  .item_block h2 {
    font-size: 35px;
  }

  .title {
    align-items: flex-start;
    flex-direction: column;
  }

  .title h2 {
    margin-right: 0;
    font-size: 38px;
    margin-bottom: 20px;
  }

  .background__img img {
    top: 50%;
    left: -10%;
  }

  .left_block img {
    width: 99%;
  }

  .left_block p {
    width: 100%;
    padding: 0;
  }

  .block_information {
    flex-direction: column;
    gap: 40px;
  }

  .right_block {
    margin-left: 0px;
    justify-content: center;
    display: flex;
  }

  .right_block img {
    width: 100%;
  }
}